@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	background: transparent;
	font-family: "Lato" ;
	background-image: url('../images/background1.png');
	color:#fff;
}
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden;
}
.center {
	display: table;
	margin-left: 0px;
	margin-right: 0px;
}
.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.sensorActive {
	color: green;
    font-size: 25px;
    padding-right: 5px;
}

.sensorInActive {
	color: #de0112;
    font-size: 25px;
    padding-right: 5px;
}

.customBadge {
	font-size: 10px !important;
	background-color:  rgba(0, 0, 0, 0.67) !important;
	margin-top: 2px;
	margin-left: -7px;
}

.badgeConnect {
	border: 1px solid black;
    width: 14px;
    height: 1px;
    display: inline-block;
    margin: 0px 0px 2px -8px;
}
.batteryPercentageText {
	float: right;
    display: inline-block;
    color: whitesmoke;
    margin-left: 8px;
    margin-top: 19px;
}
.greenBadge {
	border: 3px solid #0cd829;
}

.orangeBadge {
	border: 3px solid #f3952d;
}

.yellowBadge {
	border: 3px solid #f9ea05;
}

.redBadge {
	border: 3px solid #f10606;
}

.whiteBadge {
	border: 3px solid #fff;
}

.colorCabinTxt {
	width: 20px !important;
    height: 20px !important;
    display: inline-flex;
    margin-right: 10px;
}
.green {
	background-color: #0cd829;
	margin-bottom: 5px;
	margin-right: 5px;
    color: #fff;
    width: 46px;
    padding: 3px;
    display: inline-flex;
    font-size: 12px;
}
.red {
	background-color: #f10606;
	margin-bottom: 5px;
	margin-right: 5px;
    color: #fff;
    width: 46px;
    padding: 3px;
    display: inline-flex;
    font-size: 12px;
}
.orange {
	background-color: #f3952d;
	margin-bottom: 5px;
	margin-right: 5px;
    color: #fff;
    width: 46px;
    padding: 3px;
    display: inline-flex;
    font-size: 12px;
}
.yellow {
	background-color: #f9ea05;
	margin-bottom: 5px;
	margin-right: 5px;
    color: #fff;
    width: 46px;
    padding: 3px;
    display: inline-flex;
    font-size: 12px;
}
.white {
	background-color: #fff;
	margin-bottom: 5px;
	margin-right: 5px;
    color: #fff;
    width: 46px;
    padding: 3px;
    display: inline-flex;
    font-size: 12px;
}
.normaltxt {
	color:#fff;
}

.center {
	display: table;
    margin-left: auto;
    margin-right: auto;
    color: #1b1d1a;
}

.centerSvg {
	display: inline-block;
	position: relative;
    width: 100%;
    padding-bottom: 70%;
    vertical-align: middle;
    overflow: hidden;
}

.wrap {
	width:250px;
	height: auto;
	margin: auto;
	margin-top: 10%;
}
.avatar {
	width: 100%;
	margin: auto;
    width: 57px;
    border-radius: 100px;
    height: 55px;
    background: #8cd344;
    position: relative;
    bottom: -10px;
}
.avatar img {
	width: 55px;
	height: 55px;
	border-radius: 100px;
	margin: auto;
	border:3px solid #fff;
	display: block;
}
.wrap input {
	border: none;
	background: #fff;
	color: black;
  	font-family:Lato ;
  	font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
	color: #83afdf ;
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #b6ee65;
	text-decoration: center;
	border: none;
	color: #51771a;
  margin-top:-5px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #307d63;
	cursor: pointer;
}
.battery-wrapper .attention {
	width: 100%;
    margin: 7px 0px;
    color: #fff;
    background-color: rgba(43, 143, 192, 0.72);
    padding: 7px;
    border-radius: 3px;
    display: inline-table;
    font-size: 14px;
    font-style: italic;
}
.sensorBatteryText {
    margin-top: 18px;
    display: inline-block;
}
.battery-wrapper .battery {
	width: 100px;
	height: 40px;
	border: 5px solid #000;
	margin: 7px 9px;
	position: relative;
	background-color: #fff;
	display: inline-block;
    float: right;
}
.battery-wrapper .battery:after {
	content: '';
	display: block;
	width: 10px;
	height: 20px;
	background-color: #000;
	position: absolute;
	right: -12px;
	top: 5px;
}

.battery-wrapper .battery .level {
	height: 100%;
	width: 2%;
}

.battery-wrapper .battery .level.high {
	background-color: #27AE60;
  width:90%;	
}
.battery-wrapper .battery .level.med {
	background-color: #E67E22;
  width: 50%;	
}
.battery-wrapper .battery .level.low {
	background-color: #E74C3C;	
  width: 10%;
}