<div class="page-header">
  <h1 class="center" style="color: #fff">Battery Status</h1>
</div>

<div class="row">
	<div class="panel panel-primary">
		 <div class="panel-heading">
    		<h3 class="panel-title">Floor: {{sensorBattery[0].floorNumber}}</h3>
 		 </div>
 		 <div class="panel-body">
			<div ng-repeat="item in sensorBattery">
				<div class="battery-wrapper">
					<div class="attention">
					
						<span ng-if="!item.sensorActive" class="glyphicon glyphicon-remove-circle sensorInActive" aria-hidden="true">Sensor:OFF</span>
						<span ng-if="item.sensorActive" class="glyphicon glyphicon-ok-circle sensorActive" aria-hidden="true">Sensor:ON</span>
					
						<span class="sensorBatteryText">Sensor: {{item.sensorId}},  Voltage: {{item.voltage/1000}}v  Time When Updated: {{item.lastBeatTime | date:'dd-MM-yy hh:mm:ss':'UTC+01:00'}}</span>
						<span class="batteryPercentageText">{{item.batteryPercentage}}%</span>
						<div class="battery">
							<div class="level {{item.batteryClass}}" style="	width:{{item.batteryPercentage}}%">	
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
