<!--<div class="wrap">

    <h2 class="h2 row">Get started now</h2>

    <div class="avatar">
        <img src="/images/avatar.png">
    </div>

    <form name="form" ng-submit="createSpace()">

        <div class="form-group row">
            <label for="email">Email Id</label>
            <input type="email"
                   id="email"
                   placeholder="email"
                   ng-model="email"
                   class="form-control" required>

        </div>

        <div class="form-group row">
            <label for="spacename">Space Name </label>
            <input type="text"
                   id="spacename"
                   placeholder="spacename"
                   ng-model="spacename"
                   class="form-control" required>
        </div>

        <div class="form-group row">
            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   placeholder="name"
                   ng-model="name"
                   class="form-control" required>
        </div>

        <div class="form-group row">
            <label >Expecting name for</label>

            <input type="radio"
                   id="boy"
                   ng-model="gender"
                   name="gender"
                   class="form-control"
                   value="Boy">
            <label for="boy">Baby boy</label>

            <p></p>

            <input type="radio"
                   id="girl"
                   ng-model="gender"
                   class="form-control"
                   value="Girl">
            <label for="girl">Baby girl</label>

            <p></p>

            <input type="radio"
                   id="either"
                   ng-model="gender"
                   class="form-control"
                   value="Either">
            <label for="either">Either</label>
        </div>

        <div class="form-group row">
            <label for="expectingOn">Pick a date in 2013:</label>
            <input type="date"
                   id="expectingOn"
                   ng-model="expectingOn"
                   placeholder="yyyy-MM-dd"
                   min="2017-01-01"
                   max="2018-12-31"
                   class="form-control" required/>
        </div>

        <div class="bar">
            <i></i>
        </div>

         <a href="" class="forgot_link">forgot ?</a> 

        <div class="row">
            <button type="submit">Create</button>
        </div>
    </form>

</div>

<div>
    How does it work? <BR>
    Step #1 Register and create Space <BR>
    Step #2 Share link with friends and families. <BR>
    Steps #3 Next? people start suggesting baby name and vote names they like <BR>
</div>
-->
  
   
    <div class="create-space-container">

      <div class="header">
        <div>Name <span><b>Newbie</b></span></div>
      </div>
 
      <div class="create-space-form">
        <form ng-submit="createSpace()">
        <input type="email"
                 id="email"
                   placeholder="email"
                   ng-model="email"
                   required><br>

        <input type="text"
                   id="spacename"
                   placeholder="spacename"
                   ng-model="spacename"
                   required><br>

        <input type="text"
                   id="name"
                   placeholder="name"
                   ng-model="name"
                   required><br>

        <input type="date"
                   id="expectingOn"
                   ng-model="expectingOn"
                   placeholder="Expecting On"
                   min="2017-01-01"
                   max="2018-12-31"
                   required/>

                  <!--  <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span> -->

        <div>
            <label>Expecting name for baby</label>

            <input type="radio"
                   id="boy"
                   ng-model="gender"
                   name="gender"                  
                   value="Boy">

            <label for="boy">Boy</label>

            

            <input type="radio"
                   id="girl"
                   ng-model="gender"                   
                   value="Girl">
            <label for="girl">Girl</label>

           

            <input type="radio"
                   id="either"
                   ng-model="gender"                  
                   value="Either">
            <label for="either">Either</label>

        </div>
                   
        <button type="submit">Create</button>
      </form>
      </div>

    </div>


  

