<!--<div>Suggst Baby Name for {{ spaceOverview.spaceInfo.name}} </div> <br>
<div class="bs-example">
    <table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Meaning</th>
		<th>Gender</th>
		<th>Added By</th>
		<th>Like</th>
	</tr>
</thead>
  <tr ng-repeat="nameObj in spaceOverview.nameList">
    <td>{{ nameObj.babyname }}</td>
    <td>{{ nameObj.meaning }}</td>
		<td>{{ nameObj.gender }}</td>
    <td>{{ nameObj.addedBy }}</td>
		<td><a href="" ng-click="doVote(nameObj)"> {{ nameObj.likes }} <i class="fa fa-heart m-b-1" ng-click="doVote(nameObj)"></i> </a></td>
  </tr>
</table>
</div>

-->
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }

		/*    --------------------------------------------------
			:: General
			-------------------------------------------------- */

		.content h1 {
			text-align: center;
		}
		.content .content-footer p {
			color: #6d6d6d;
		    font-size: 12px;
		    text-align: center;
		}
		.content .content-footer p a {
			color: inherit;
			font-weight: bold;
		}

		/*	--------------------------------------------------
			:: Table Filter
			-------------------------------------------------- */
		.panel {
			border: 1px solid #ddd;
			background-color: #fcfcfc;
		}
		.panel .btn-group {
			margin: 15px 0 30px;
		}
		.panel .btn-group .btn {
			transition: background-color .3s ease;
		}
		.table-filter {
			background-color: #fff;
			border-bottom: 1px solid #eee;
		}
		.table-filter tbody tr:hover {
			cursor: pointer;
			background-color: #eee;
		}
		.table-filter tbody tr td {
			padding: 10px;
			vertical-align: middle;
			border-top-color: #eee;
		}
		.table-filter tbody tr.selected td {
			background-color: #eee;
		}
		.table-filter tr td:first-child {
			width: 38px;
		}
		.table-filter tr td:nth-child(2) {
			width: 35px;
		}

		.table-filter .media .title {
			color: #2BBCDE;
			font-size: 14px;
			font-weight: bold;
			line-height: normal;
			margin: 0;
		}
		.table-filter .media .title span {
			font-size: .8em;
			margin-right: 20px;
		}
		.table-filter .media .title span.boy {
			color: #5cb85c;
		}
		.table-filter .media .title span.girl {
			color: #f0ad4e;
		}

		.table-filter .media .summary {
			font-size: 14px;
			color: #d9534f;
		}
		.table-filter .media .media-body .media-meta {
			font-size: 14px;
			color: #d9534f;
		}
		.table-filter .star .title {
			color: #2BBCDE;
			font-size: 14px;
			font-weight: bold;
			line-height: normal;
			margin: 0;
		}

		/*    --------------------------------------------------
			:: Modal css overriding
			-------------------------------------------------- */
			.modal-header,.modal-body,.modal-footer {
				color: #000;
			}
</style>

<br><br>
<div class="container">
	<div class="row">
		<section class="content">
			<h1><div>Suggst Baby Name for {{ spaceOverview.spaceInfo.name}} </div></h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter" data-target="boy" ng-click="openModal('Boy')">Boy</button>
								<button type="button" class="btn btn-warning btn-filter" data-target="girl" ng-click="openModal('Girl')">Girl</button>

							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<thead>
								<tr>
									<td>
										<div class="media">
											<div class="media-body">
												<span class="media-meta pull-right">Added By</span>
												<h4 class="title">Name</h4>
											</div>
										</div>
									</td>
									<td class="star">
										<h4 class="title pull-right">Likes</h4>
									</td>
								</tr>
							</thead>
								<tbody>
									<tr ng-repeat="nameObj in spaceOverview.nameList">
										<td>
											<div class="media">
												<div class="media-body">
													<span class="media-meta pull-right">{{ nameObj.addedBy }}</span>
													<h4 class="title">
														{{ nameObj.babyname }}
														<!--<span class="pull-right {{ nameObj.gender }}">({{ nameObj.addedBy }})</span> -->
													</h4>
													<p class="summary">{{ nameObj.meaning }}</p>
												</div>
											</div>
										</td>
										<td>
											<a href="javascript:;" class="star">
												<a href="" class="pull-right" ng-click="doVote(nameObj)"><i class="fa fa-heart m-b-1" ng-click="doVote(nameObj)"></i> ({{ nameObj.likes }}) </a>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>


<script type="text/ng-template" id="suggestNameModal.html">
	<form ng-submit="addName()">
		<div class="modal-header">
	        <h3 class="modal-title" id="modal-title">Name for Baby {{data.gender}}</h3>
	    </div>
	    <div class="modal-body" id="modal-body">
	      	{{responseData}}
			<input type="text" placeholder="Baby Name" ng-model="data.babyName" required>
			<input type="text" placeholder="Meaning" ng-model="data.meaning" required>
			<input type="text" placeholder="Added By" ng-model="data.addedBy">
			             
	    </div>
	    <div class="modal-footer">
	   		<button class="btn btn-warning" type="submit">Add</button>      
	        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	    </div>
	</form>
</script>
