.createSpaceForm {
    width: 50%;
    overflow: hidden;
    margin: auto;

    p {
        overflow: hidden;
    }

    label { 
        width:5em; 
        display: block;
        padding-right: 10px;
        float: left;
        line-height: 50px;
        text-align: right;
    }

    input {
        border: 1px solid #ccc;
        width: 100%;
        color: #e9e7e2;
        padding: 15px;
        font: inherit;
        float: left;
    }

    textarea {
        border: 1px solid #ccc;
        width: 100%;
        color: #e9e7e2;
        padding: 15px;
        font: inherit;
        float: left;
    }

    input.btn {
        display: block;
        position: relative;
        margin: auto;
        padding: 15px 50px;
        background-color: #ff7b6d;
        border-radius: 2px;
        -moz-border-radius: 2px;
        border: none;
        color: white;
        font-size: 16px;    
        font-weight: 600;
        width: 50%
    }
}

