.event-card {
	background: #fff;
}

.welcome__container .mdl-card__supporting-text {
	color: rgba(0,0,0,.70)	
	margin-top: 10px;
	font-size: 1.2rem;
}

.welcome__container .mdl-card__title-text {
	align-self: flex-start;
}

.welcome__container .mdl-card__actions {
	position: absolute;
	bottom: 10px;
}

.welcome__container .mdl-card__actions a {
	background: rgba(0,0,0,0.10);
    width: 100%;
    padding: 5% 0%;
}

.welcome__container, .space-names__container {
	min-height: 350px;
	max-height: 400px;
}


.mdl-card__title {
	color: rgba(0,0,0,.87) !important;
}

.mdl-card__actions {
	border: 1px solid lightgray;
}

.mdl-card__actions > .mdl-button {
	color: rgb(255,64,129) !important;
	font-size: 18px;
}

.add-form__close {
	direction: rtl;
	cursor: pointer;
}

.border__blue {
	border-bottom: 1px solid rgb(63,81,181);
}

.border__pink {
	border-bottom: 1px solid rgb(255,64,129);
}

.like-container {
	text-decoration: none;
	position: relative;
}

.like-count {
	position: absolute;
	left: -25px;
	top: 7px;
}






.alphabet-widget {
	margin: auto;
	padding: 20px;
}

.alphabet-widget > li {
	display: inline-block;
	padding: 10px;
	text-decoration: underline;	
	cursor: pointer;
}
.names-suggestion__button {
	margin: 35px auto 5px auto

}




@media (max-width: 380px) {

	.welcome__container {
		min-height: 280px;
	}
} 