<!--Add name Start  should be a directive-->
<section class="mdl-grid site-max-width" id="viewSpaceNames">
  <div class="demo-card-event mdl-cell mdl-card mdl-shadow--4dp event-card portfolio-card welcome__container" 
  ng-class= "{'mdl-cell--12-col': !addName.model.spaceNamesList.length}">
    <div class="mdl-card__title">
      <!--   <h2 class="mdl-card__title-text"><b>Welcome</b></h2> -->
    </div>
    <div class="mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="addName.showAddNameForm()">
        ADD NAME
      </a>
    </div>
  </div>

  <div class="mdl-cell mdl-card mdl-cell--8-col mdl-cell--4-col-tablet  mdl-shadow--4dp portfolio-card space-names__container"
  ng-if="addName.model.spaceNamesList.length">
  <!--   <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a ng-repeat="tab in tabs" href="#{{tab.name}}" class="mdl-tabs__tab" ng-class="{'is-active': $index === 0}">{{tab.name}}</a>
      </div>

      <div ng-repeat="tab in tabs" class="mdl-tabs__panel"  ng-class="{'is-active': $index===0}" id="{{tab.name}}">
       <ul class="demo-list-two mdl-list">
              <li class="mdl-list__item mdl-list__item--three-line" ng-class="(name.gender==='Boy')? 'border__blue' : 'border__pink' " ng-repeat="name in tab.list">
                <span class="mdl-list__item-primary-content">
                  <span><b>{{name.babyname}}</b></span>
                  
                  <span class="mdl-list__item-text-body">
                    {{name.meaning}} <br>
                    Added by : {{name.addedBy}}
                  </span>
                </span>
                <span class="mdl-list__item-secondary-content"> 
                  <a class="mdl-list__item-secondary-action like-container" href="">
                    <span class="like-count">{{name.likes}}</span>
                    <i class="material-icons" ng-click="vote(name)">thumb_up </i>
                  </a>                                                  
                </span>
              </li>
            </ul>
      </div>    
    </div> -->



  <!--  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
      mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">
          <div class="mdl-layout__tab-bar mdl-js-ripple-effect"> 
            <a href="#all" class="mdl-layout__tab is-active">All</a>
            <a href="#boys" class="mdl-layout__tab">Boy</a>
            <a href="#girls" class="mdl-layout__tab">Girl</a>
          </div>
        </header> 

        <main class="mdl-layout__content">
          <section class="mdl-layout__tab-panel is-active" id="all">
            <div class="page-content">
              <ul class="demo-list-two mdl-list">
                <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="name in namesList">
                  <span class="mdl-list__item-primary-content">
                    <span><b>{{name.babyname}}</b></span>
                    
                    <span class="mdl-list__item-text-body">
                      {{name.meaning}} <br>
                      Added by : {{name.addedBy}}
                    </span>
                  </span>
                  <span class="mdl-list__item-secondary-content"> 
                    <a class="mdl-list__item-secondary-action like-container" href="">
                      <span class="like-count">{{name.likes}}</span>
                      <i class="material-icons" ng-click="vote(name)">thumb_up </i>
                    </a>                                                  
                  </span>
                </li>
              </ul>
            </div>
          </section>    
              <section class="mdl-layout__tab-panel" id="boys">
            <div class="page-content">
              <ul class="demo-list-two mdl-list">
                <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="name in namesList | filter:{name.gender === 'Boy'}">
                  <span class="mdl-list__item-primary-content">
                    <span><b>{{name.babyname}}</b></span>
                    
                    <span class="mdl-list__item-text-body">
                      {{name.meaning}} <br>
                      Added by : {{name.addedBy}}
                    </span>
                  </span>
                  <span class="mdl-list__item-secondary-content"> 
                    <a class="mdl-list__item-secondary-action like-container" href="">
                      <span class="like-count">{{name.likes}}</span>
                      <i class="material-icons" ng-click="vote(name)">thumb_up </i>
                    </a>                                                  
                  </span>
                </li>
              </ul>
            </div>
          </section>
          <section class="mdl-layout__tab-panel" id="girls">
            <div class="page-content">
              <ul class="demo-list-two mdl-list">
                <li class="mdl-list__item mdl-list__item--three-line" ng-repeat="name in namesList | filter:{name.gender === 'Girl'}">
                  <span class="mdl-list__item-primary-content">
                    <span><b>{{name.babyname}}</b></span>
                    
                    <span class="mdl-list__item-text-body">
                      {{name.meaning}} <br>
                      Added by : {{name.addedBy}}
                    </span>
                  </span>
                  <span class="mdl-list__item-secondary-content"> 
                    <a class="mdl-list__item-secondary-action like-container" href="">
                      <span class="like-count">{{name.likes}}</span>
                      <i class="material-icons" ng-click="vote(name)">thumb_up </i>
                    </a>                                                  
                  </span>
                </li>
              </ul>
            </div>
          </section>   
        </main>
      </div> -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
       mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect"> 
          <a ng-repeat="tab in addName.model.spaceNames.tabsView" href="#{{tab.name}}" class="mdl-layout__tab" ng-class="{'is-active': $index===0}">{{tab.name}}</a>
        </div>
      </header> 

      <main class="mdl-layout__content">
        <section ng-repeat="tab in addName.model.spaceNames.tabsView" class="mdl-layout__tab-panel" ng-class="{'is-active': $index===0}" id="{{tab.name}}">
          <div class="page-content">
            <ul class="demo-list-two mdl-list">
              <li class="mdl-list__item mdl-list__item--three-line" ng-class="(name.gender==='boy')? 'border__blue' : 'border__pink' " ng-repeat="name in tab.list">
                <span class="mdl-list__item-primary-content">
                  <span><b>{{name.babyname}}</b></span>
                  
                  <span class="mdl-list__item-text-body">
                    {{name.meaning}} <br>
                    Added by : {{name.addedBy}}
                  </span>
                </span>
                <span class="mdl-list__item-secondary-content"> 
                  <a class="mdl-list__item-secondary-action like-container" href="">
                    <span class="like-count">{{name.likes}}</span>
                    <i class="material-icons" ng-click="addName.vote(name)">thumb_up </i>
                  </a>                                                  
                </span>
              </li>
            </ul>
          </div>
        </section>     
      </main>
    </div>
  </div>                
</section>

<section class="mdl-grid site-max-width" ng-if="addName.isAddFormOpen" id="addNameForm">    
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
      <i class="material-icons add-form__close" ng-click="addName.closeAddNameForm()">clear</i>
      <div class="mdl-card__title">
        <h1 ng-if="addName.model.space.spaceDetails.expectingNameFor === 'na'" class="mdl-card__title-text">Help us name our little baby !!! </h1>
        <h1 ng-if="addName.model.space.spaceDetails.expectingNameFor !== 'na'" class="mdl-card__title-text">Help us name our little baby 
        {{addName.model.space.spaceDetails.expectingNameFor |  lowercase}}!!! </h1>          
      </div>
      <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text"> 

          <form ng-submit="addName.addName(addName.model.datatoAdd)" class="form-contact">
              <div ng-if="addName.model.space.spaceDetails.expectingNameFor === 'na'" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="boy">
                  <input type="radio" id="boy" class="mdl-radio__button" name="gender" ng-model="addName.model.dataToAdd.gender" value="boy" 
                  ng-required="!gender" checked>
                  <span class="mdl-radio__label">Boy</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="girl">
                  <input type="radio" id="girl" class="mdl-radio__button" name="gender" ng-model="addName.model.dataToAdd.gender" value="girl"
                  ng-required="!gender">
                  <span class="mdl-radio__label">Girl</span>
                </label>             
              </div>
             
              <input ng-if="addName.model.space.spaceDetails.expectingNameFor !== 'na'" class="mdl-textfield__input" type="hidden" id="gender" name="gender" ng-model="addName.model.dataToAdd.gender" ng-init="addName.model.dataToAdd.gender=addName.model.space.spaceDetails.expectingNameFor" placeholder="Gender" required />

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="Name" name="name" ng-model="addName.model.dataToAdd.babyname" 
                  placeholder="Baby name" required/>           
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="email" id="Email" name="email" ng-model="addName.model.dataToAdd.email" 
                  placeholder="Email" required>               
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="meaning" name="meaning" ng-model="addName.model.dataToAdd.meaning" 
                  placeholder="Meaning" required>                
              </div>           

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="addedBy" name="addedBy" ng-model="addName.model.dataToAdd.addedBy" 
                  placeholder="Added By" required>                
              </div>

              <p>
                <button id="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" \
                type="submit">
                    Submit
                </button>              
              </p>               
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

   <div id="add-name-success-toast" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>

<!--Add name End -->
