  <div class="container clearfix mt-100 mb-20">
      <h2><span>Create Space</span></h2>
         
      <div class="c12" style="margin:auto">       
        <form class="createSpaceForm" >
          <p><input type="text" placeholder="emailId" name="name" id="emailid" /></p>
          <p><input type="text" placeholder="space name" name="email" id="space" /></p>
          <p><input type="text" placeholder="Expected on" name="email" id="expectedDate" /></p>          
          <p><input class="btn" type="button" value="Create" /></p>
        </form>
      </div>  
    </div><!-- /.container -->
    
    <div class="push"></div>
