  <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="">
          <img src="images/slide_01.jpg" alt="" />
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#111:#333333/text:Second slide" alt="">
          <img src="images/slide_02.jpg" alt="" />
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Contant -->

    <div class="container clearfix mb-20">

      <!-- Steps to create space START -->
      <h2><span>How do start?</span></h2>
      <div class="c4">
        <p><b>Step 1</b></p>
        <p>Go to create space</p>
      </div>
      <div class="c4">
        <p><b>Step 2</b></p>
        <p>Share link with friends and families</p>
      </div>
      <div class="c4">
        <p><b>Step 3</b></p>
        <p>Next? people start suggesting baby name and vote names they like</p>
      </div>
        <!-- Steps to create space END -->


      <div class="clearfix"></div>


      <!-- Alphabet widget girl / boy START -->
      <h2><span>Find Names</span></h2>
      <div class="c6" style="display:flex;justify-content:center">      
        <nav style="width:50%;margin:0 auto"> 
            <p style="text-align:center">Girl</p>
            <ul  class="pagination pagination-sm">     
              <li><a href="#">A</a></li> 
              <li><a href="#">B</a></li> 
              <li><a href="#">C</a></li> 
              <li><a href="#">D</a></li> 
              <li><a href="#">E</a></li>
              <li><a href="#">F</a></li>
              <li><a href="#">G</a></li>
              <li><a href="#">H</a></li>
              <li><a href="#">I</a></li>
              <li><a href="#">J</a></li>
              <li><a href="#">K</a></li>
              <li><a href="#">L</a></li>
              <li><a href="#">M</a></li>
              <li><a href="#">N</a></li>
              <li><a href="#">O</a></li>
              <li><a href="#">P</a></li>
              <li><a href="#">Q</a></li>
              <li><a href="#">R</a></li>
              <li><a href="#">S</a></li>
              <li><a href="#">T</a></li>
              <li><a href="#">U</a></li>
              <li><a href="#">V</a></li>
              <li><a href="#">W</a></li>
              <li><a href="#">X</a></li>
              <li><a href="#">Y</a></li>
              <li><a href="#">Z</a></li>   
            </ul> 
          </nav>       
      </div>
      <div class="c6">      
        <nav style="width:50%;margin:0 auto"> 
          <p style="text-align:center">Boy</p>
            <ul class="pagination pagination-sm">     
               <li><a href="#">A</a></li> 
              <li><a href="#">B</a></li> 
              <li><a href="#">C</a></li> 
              <li><a href="#">D</a></li> 
              <li><a href="#">E</a></li>
              <li><a href="#">F</a></li>
              <li><a href="#">G</a></li>
              <li><a href="#">H</a></li>
              <li><a href="#">I</a></li>
              <li><a href="#">J</a></li>
              <li><a href="#">K</a></li>
              <li><a href="#">L</a></li>
              <li><a href="#">M</a></li>
              <li><a href="#">N</a></li>
              <li><a href="#">O</a></li>
              <li><a href="#">P</a></li>
              <li><a href="#">Q</a></li>
              <li><a href="#">R</a></li>
              <li><a href="#">S</a></li>
              <li><a href="#">T</a></li>
              <li><a href="#">U</a></li>
              <li><a href="#">V</a></li>
              <li><a href="#">W</a></li>
              <li><a href="#">X</a></li>
              <li><a href="#">Y</a></li>
              <li><a href="#">Z</a></li>
            </ul> 
          </nav>       
      </div>     
      <!-- Alphabet widget girl / boy START -->

      <div class="clearfix"></div>


      <!-- Names starting with START-->         

      <h2><span>Names starting with</span></h2>
    
      <div class="c12" style="max-height:400px;overflow-y:scroll">
       <div class="list-group">
          <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Baby Name1 (Meaning) <span class="badge" style="float:right">12</span></h4>
            <p class="list-group-item-text">Divya Shirodkar</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name2 (Meaning)<span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Harshad</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name3  (Meaning) <span class="badge" style="float:right">12</span></h4>
            <p class="list-group-item-text">Nishith</p>
          </a>
               <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Baby Name1 (Meaning) <span class="badge" style="float:right">12</span></h4>
            <p class="list-group-item-text">Divya Shirodkar</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name2 (Meaning) <span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Harshad</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name3  (Meaning)<span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Nishith</p>
          </a>
             <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Baby Name1 (Meaning) <span class="badge">12</span></h4>
            <p class="list-group-item-text">Divya Shirodkar</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name2 (Meaning) <span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Harshad</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name3  (Meaning)<span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Nishith</p>
          </a>
        </div>
      </div>
      <!-- All names starting with  END-->

    </div><!-- /.container -->
    <div class="push"></div>