 <div class="container clearfix mt-100 mb-20">
      <h2><span>Space</span></h2>

      <div class="c6">
        <form class="addNameForm">
        <p><input type="text" placeholder="emailId" name="name" id="emailid" /></p>
        <p><input type="text" placeholder="emailId" name="name" id="emailid" /></p>
        <p><input type="text" placeholder="emailId" name="name" id="emailid" /></p>
        <p><input type="text" placeholder="emailId" name="name" id="emailid" /></p>  
        <p><input class="btn" type="button" value="Add"/></p> 
        </form>       
      </div>

      <div class="c6" style="max-height:400px;overflow-y:scroll">

       <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name1 (Meaning) <span class="badge" style="float:right">12</span></h4>
            <p class="list-group-item-text">Divya Shirodkar</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name2 (Meaning)<span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Harshad</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name3  (Meaning) <span class="badge" style="float:right">12</span></h4>
            <p class="list-group-item-text">Nishith</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name1 (Meaning) <span class="badge" style="float:right">12</span></h4>
            <p class="list-group-item-text">Divya Shirodkar</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name2 (Meaning) <span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Harshad</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name3  (Meaning)<span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Nishith</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name1 (Meaning) <span class="badge">12</span></h4>
            <p class="list-group-item-text">Divya Shirodkar</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name2 (Meaning) <span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Harshad</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Baby Name3  (Meaning)<span class="badge" style="float:right">12</h4>
            <p class="list-group-item-text">Nishith</p>
          </a>
        </div>
      </div>   
    
    </div><!-- /.container -->
    <div class="push"></div>